

body{
    background-color: rgba(0, 0, 0, 0.882);
    margin: 0;

}

h1{
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: "Titillium Web";
    font-size: 70px;
    text-shadow: 3px 6px 4px black;

}
p,li {
    color: white;
    font-family: "Titillium Web";
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
 
}

.tekst{
    padding: 50px 300px;
    
}

/* liste */

.liste{
    text-align: center;
    margin-top: 30px;
}

.lista1  {
    
    display: inline-block;
    float: none;
    text-align: left;
    margin: 0 20px;
}

ol {
    
    list-style: square;
}


/* pozadina na naslovima listi */
.programi_pozadina{
    background-color: rgb(58, 58, 58);
    padding: 5px 15px;
    border-radius: 5px;
}

.pozadina{
    background-color: rgb(58, 58, 58);
    padding: 5px;
    
}

/* dizajn slova na naslovu PORTFOLIO */
.slova{
    color:rgb(152, 152, 152) ;
    
}




/* navigacijka traka */

ul {
  list-style: none;
  margin:0px;
  padding: 0;
  overflow: hidden;
  /* background-color: rgb(88, 88, 88); */

  display: flex;                
  justify-content: center;     
  align-items: center;       
}



ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 50px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
  text-decoration: underline;
}





/* FORMA */

form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1a1a1a;
  color: white;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}


fieldset {
  border: 2px solid #555;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 8px;
}

legend {
  padding: 0 10px;
  font-weight: bold;
}


label {
  display: block;
  margin-top: 10px;
}


input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #222;
  color: white;
}

textarea{
  width: 100%;
  padding: 8px 0px 30px 10px;
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #222;
  color: white;
  resize: vertical;

}




/* Fokus efekt */

input[type="text"] {
  border: 2px solid #555;  
  background-color: #222;   
  color: white;             
  padding: 8px;
  border-radius: 5px;
 
}

input:focus,
textarea:focus,
select:focus {
  border-color: #00bfff;
  outline: none;
}


input[type="submit"],
input[type="reset"] {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #2e2e2e;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, sans-serif;
  transition: background-color 0.2s, transform 0.1s;
}











